[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=bhagy
Group=bhagy
WorkingDirectory=/home/bhagy/app/src/
Environment="PATH=/home/bhagy/app/venv/bin"
EnvironmentFile=/home/bhagy/.env
ExecStart=/home/bhagy/app/venv/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target